---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=5&key=<WEATHER_API_KEY>&q=11111
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999971'
      Cdn-Proxyver:
      - '1.37'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '400'
      Cdn-Cachedat:
      - 10/03/2025 16:33:28
      Cdn-Edgestorageid:
      - '1212'
      Cdn-Requestid:
      - 82b914a05f163c8538f97cf423afbbb2
      Cdn-Cache:
      - MISS
      Cdn-Status:
      - '400'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":1006,"message":"No matching location found."}}'
  recorded_at: Fri, 03 Oct 2025 16:33:28 GMT
recorded_with: VCR 6.3.1
