---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=5&key=<WEATHER_API_TOKEN>&q=29732
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999971'
      Cdn-Proxyver:
      - '1.37'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 10/03/2025 16:33:28
      Cdn-Edgestorageid:
      - '976'
      Cdn-Requestid:
      - 0c460800fd3f89d5db3843f2c3bc1f32
      Cdn-Cache:
      - EXPIRED
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Rock Hill","region":"South Carolina","country":"USA","lat":34.9681015014648,"lon":-81.0488967895508,"tz_id":"America/New_York","localtime_epoch":1759509416,"localtime":"2025-10-03
        12:36"},"current":{"last_updated_epoch":1759509000,"last_updated":"2025-10-03
        12:30","temp_c":21.0,"temp_f":69.8,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":6.9,"wind_kph":11.2,"wind_degree":46,"wind_dir":"NE","pressure_mb":1028.0,"pressure_in":30.37,"precip_mm":0.0,"precip_in":0.0,"humidity":46,"cloud":0,"feelslike_c":21.0,"feelslike_f":69.8,"windchill_c":22.5,"windchill_f":72.5,"heatindex_c":23.1,"heatindex_f":73.6,"dewpoint_c":10.7,"dewpoint_f":51.2,"vis_km":16.0,"vis_miles":9.0,"uv":5.7,"gust_mph":8.0,"gust_kph":12.9,"short_rad":465.0,"diff_rad":66.9,"dni":701.34,"gti":199.52},"forecast":{"forecastday":[{"date":"2025-10-03","date_epoch":1759449600,"day":{"maxtemp_c":27.1,"maxtemp_f":80.8,"mintemp_c":10.8,"mintemp_f":51.4,"avgtemp_c":18.5,"avgtemp_f":65.3,"maxwind_mph":7.8,"maxwind_kph":12.6,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":59,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":1.5},"astro":{"sunrise":"07:21
        AM","sunset":"07:05 PM","moonrise":"05:15 PM","moonset":"03:14 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":79,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1759464000,"time":"2025-10-03
        00:00","temp_c":16.0,"temp_f":60.8,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":5.8,"wind_kph":9.4,"wind_degree":42,"wind_dir":"NE","pressure_mb":1005.0,"pressure_in":29.67,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":64,"cloud":0,"feelslike_c":16.0,"feelslike_f":60.8,"windchill_c":16.0,"windchill_f":60.8,"heatindex_c":16.0,"heatindex_f":60.8,"dewpoint_c":8.5,"dewpoint_f":47.4,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":12.2,"gust_kph":19.7,"uv":0,"short_rad":0,"diff_rad":0,"dni":0,"gti":0},{"time_epoch":1759467600,"time":"2025-10-03
        01:00","temp_c":15.1,"temp_f":59.2,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":6.3,"wind_kph":10.1,"wind_degree":52,"wind_dir":"NE","pressure_mb":1005.0,"pressure_in":29.67,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":62,"cloud":0,"feelslike_c[...]
