name: CI

on:
  pull_request:
  push:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Run CI
        env:
          WEATHER_API_TOKEN: ${{ secrets.WEATHER_API_TOKEN }}
          WEATHER_PROVIDER: ${{ secrets.WEATHER_PROVIDER }}
        run: ./bin/ci
